footer.footer.big_Container
	.footer_cont
		.footer_cont_left
			p Ⓒ 2021 Все права защищены.
			p Телефон горячей линии: 
				a 8 (800) 7007-600.
			p Звонки по России бесплатно, круглосуточно, без выходных.
		.footer_cont_right
			.footer_cont_right_top
				a Правила акции
				a Обратная связь о продукции
				a Часто задаваемые вопросы
			.footer_cont_right_bottom
				a Raffaello
					include ../../img/Group3.svg
				a Ferrero Rocher
					include ../../img/Group5.svg
