header.big_Container.header
  .header_cont
    .header_cont_left
      p Акция проходит только в Магнит
      a.logo
        img(src="img/logo.svg")
    .header_cont_right
      button.open_menu
        span.span1
        span.span2
      ul.menu
        li
          a Механика
        li
          a Призы
        li
          a Победители
        li
          a Вопросы
        li
          a Правила 
        li
          a(href="myroom.html") Личный кабинет
